
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(43, 44, 42, 0.991);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .card{
    background: rgb(25, 23, 23);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:20px;
    height:350px;
    width: 300px;
    position: relative;
  }

  .card:hover{
    transition: all;
    transition-property: ease-in-out;
    transition-duration: 3000ms;
    transform: translate(-50%,-50%);
    transform: scale(1.2);

  }
  