@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');
*{
  font-family:'Poppins',sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(29, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .card{
    background: #1d1b1b;
box-shadow:  5px 5px 6px #181717,
             -5px -5px 6px #221f1f;
    align-items: center;
    border-radius:20px;
    height:375px;
    justify-content: space-evenly;
    flex-direction: column;
    display:flex;
    width: 340px;
    position: relative;
    transition: transform 250ms;
  }

  .card:hover{
    transition: transform 250ms ;
    transform: translate(-50%,-50%);
    transform: scale(1.1);
  }

  .banner{
    width: 340px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:70px;
    background: #4568DC;  
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  
background: linear-gradient(to right, #B06AB3, #4568DC); 
position: absolute;
display: flex;
top:0px;

  }
.info{
  padding:0px;
  margin:0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height:100px;
  top:80px;
  color: rgb(139, 127, 112);
  list-style-type: none;
}

  
.email{
  display:flex;
  align-items: center;
  gap:6px;
}
.email h5{
  margin: 0;
  font-weight: 300;
}
.email-icon{

  height:26px;
  width:26px;
}
.phone{
  display:flex;
  align-items: center;
  gap:6px;
}
.phone h5{
  margin: 0;
  font-weight: 300;
}
.phone-icon{
  height:23px;
  width:23px;
}
.location{
  display:flex;
  align-items: center;
  gap:6px;
}
.location h5{
  margin: 0;
  font-weight: 300;
}
.location-icon{
  height:25px;
  width:25px;
}
.socials{
  position:relative;
  top:40px;
  width:170px;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.insta{
  border-radius: 40px;
  width:50px;
  height:50px;
  background: #1d1b1b;
box-shadow:  5px 5px 6px #181717,
             -5px -5px 6px #221f1f;
}

.insta:hover{
  transition: transform 250ms;
  transform: scale(1.1);
}
.insta img{
  padding:5px 5px 5px 5px;
  width:40px;
  height:40px;
}
.linkedin{
  border-radius:40px;
  width:50px;
  height:50px;
  background: #1d1b1b;
box-shadow:  5px 5px 6px #181717,
             -5px -5px 6px #221f1f;
}
.linkedin:hover{
  transition: transform 250ms;
  transform: scale(1.1);
}
.linkedin img{
  padding:10px 10px 10px 10px;
  width:30px;
  height:30px;
}
.github{
  border-radius:40px;
  width:50px;
  height:50px;
  background: #1d1b1b;
box-shadow:  5px 5px 6px #181717,
             -5px -5px 6px #221f1f;
}
.github:hover{
  transition: transform 250ms;
  transform: scale(1.1);
}
.github img{
  padding:10px 10px 10px 10px;
  width:30px;
  height:30px;
}